<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title><%=pageTitle%></title>
        <meta name="description" content="<%=pageDescription%>">
        <meta name="author" content="mojomanynana @ www.anaii.com">
        <meta name="globalsign-domain-verification" content="1sZoVpF3RKvGKFMFFAx-TnIiAmVAXp_UWnuPpcox0u" />
        <!--[if lt IE 9]>
      		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      	<![endif]-->

        <!-- Mobile Specific Metas  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <!-- CSS  ================================================== -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/layout.css">
        <!-- <link rel="stylesheet" href="css/fractionslider.css"> -->

        <script src="/scripts/respond.js"></script>
    </head>
    <body>
