<div class="panel boxed">
    <h3>Workshops & Special Issues</h3>
    <div class="textcenter">
        <p><a href="/wasa17"><img src="images/wasa17.jpg" alt="wasa2017" class="responsive"></a></p>
        <p><a href="/wasa17"><small>2nd International Workshop on Automatic Sentiment Analysis in the Wild @ ACII 2017</small></a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://emotion-research.net/sigs/speech-sig/is16-compare" target="_blank">INTERSPEECH 2016
                Computational Paralinguistics Challenge (ComParE)</a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://sspnet.eu/avec2016/" target="_blank">The 6th Audio/Visual Emotion Challenge and Workshop (AVEC 2016)</a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://www.journals.elsevier.com/image-and-vision-computing/call-for-papers/special-issue-on-multimodal-sentiment-analysis-and-mining-in" target="_blank"><img src="images/525443.gif" alt="cbar2016" class="responsive"></a></p>
        <p><a href="http://www.journals.elsevier.com/image-and-vision-computing/call-for-papers/special-issue-on-multimodal-sentiment-analysis-and-mining-in" target="_blank">IVCJ Special Issue on Multimodal Sentiment Analysis and Mining in the Wild Images</a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://cbar2016.blogspot.co.uk" target="_blank"><img src="images/CBAR2016.png" alt="cbar2016" class="responsive"></a></p>
        <p><a href="http://cbar2016.blogspot.co.uk" target="_blank">Fourth International Workshop on Context Based Affect Recognition <strong>CBAR 2016</strong></a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="/ibmsewa15">IBM and SEWA Cognitive Computing Workshop</a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://ibug.doc.ic.ac.uk/resources/300-VW/" target="_blank"><strong>300 V</strong>ideos in the <strong>W</strong>ild (300-VW) <strong>C</strong>hallenge & <strong>W</strong>orkshop <strong>(ICCV 2015)</strong></a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="/wasa15"><img src="images/wasa2015.png" alt="wasa2015" class="responsive"></a></p>
        <p><a href="/wasa15"><small>1st International Workshop on Automatic Sentiment Analysis in the Wild @ ACII 2015</small></a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://sspnet.eu/fera2015/" target="_blank"><strong>F</strong>acial <strong>E</strong>xpression <strong>R</strong>ecognition and <strong>A</strong>nalysis Challenge 2015 - <strong>FERA</strong> 2015</a></p>
    </div>
    <hr>
    <div class="textcenter">
        <p><a href="http://sspnet.eu/avec2015/" target="_blank"><img src="images/AVEC2015.png" alt="avec2015" class="responsive"></a></p>
        <p><a href="http://sspnet.eu/avec2015/" target="_blank"><small>The 5th Audio/Visual Emotion Challenge and Workshop</small></a></p>
    </div>
</div>
