<% include ../partials/head %>
<% include ../partials/header %>

<section>
  <div class="container container-twelve">
    <div class="row">
      <div class="eight columns">
      	<h2>SEWA Project</h2>
        <div class="panel cms-content">
          <p>The Automatic Sentiment Analysis in the Wild (SEWA) is a EC H2020 funded project. The
             main aim of SEWA is to deploy and capitalise on existing state-of-the-art methodologies,
             models and algorithms for machine analysis of facial, vocal and verbal behaviour, and then
             adjust and combine them to realise naturalistic human-centric human-computer interaction
             (HCI) and computer-mediated face-to-face interaction (FF-HCI).</p>
          <p>This will involve development of computer vision, speech processing
              and machine learning tools for automated understanding of human
              interactive behaviour in naturalistic contexts. The envisioned
              technology will be based on findings in cognitive sciences and it will
              represent a set of audio and visual spatiotemporal methods for
              automatic analysis of human spontaneous (as opposed to posed and
              exaggerated) patterns of behavioural cues including continuous and
              discrete analysis of sentiment, liking and empathy.</p>
          <p>SEWA will draw on expertise from several disciplines as illustrated in the table below:</p>
          <div>
              <table width="100%">
                <tr>
                  <th scope="col" align="left">Expertise</th>
                  <th align="center" scope="col">ICL</th>
                  <th align="center" scope="col">UP</th>
                  <th align="center" scope="col">RealEyes</th>
                  <th align="center" scope="col">PlayGen</th>
                </tr>
                <tr>
                  <td align="left">Image processing</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Speech recognition</td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Audio processing</td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                </tr>
                <tr>
                  <td align="left">Online learning</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Unsupervised learning</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">User studies</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                </tr>
                <tr>
                  <td align="left">Multimodal learning</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Multimodal recommendation</td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Social signals and social games</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                </tr>
                <tr>
                  <td align="left">Audio-visual database design</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="left">Ethical studies</td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"><img src="images/markedTrue.jpg" alt="Yes" class="responsive"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
              </table>
            </div>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/165910039" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/fM03h13J3mM" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <img src="/images/home_page_img.png" style="width: 100%; display:block;">
          <!-- <p>
              <div class="slider">
                <div class="slide">
                    <p data-position="0,2.5" data-delay="500" data-time="4250" rel="0" class="questionPara">How we communicate?</p>
                    <p data-position="55,50" data-delay="800" data-time="4550" rel="0" class="answerPara1">7% is verbal</p>
                    <p data-position="110,100" data-delay="1100" data-time="4850" rel="0" class="answerPara2">38% vocal behavior.</p>
                    <p data-position="170,150" data-delay="1400" data-time="5150" rel="0" class="finalPara">55% is non-verbal</p>
                </div>
                <div class="slide">
                    <p data-position="75,150" data-delay="500" data-time="4250" rel="0" class="questionPara">Omnipresent webcams in digital devices</p>
                    <img data-time="4500" data-delay="50" data-position="0,0" rel="0" src="images/chartStatistic_01.jpg" />
                    <img data-time="4500" data-delay="750" data-position="87,0" rel="0" src="images/chartStatistic_02.png" />
                </div>
                <div class="fs_loader"></div>
              </div>
           </p> -->
        </div>

      </div>
      <div class="four columns">
      	<div class="panel latest">
        	<h3>Latest news</h3>
        	<ul class="news-list">
            <% for(var i=0; i<news.length; i++) { %>
                <li>
                    <h3><a href="/news"><%= news[i].title %></a></h3>
                    <small class="date"><%= news[i].date %></small>
                    <p><%- news[i].short %></p>
                </li>
            <% } %>
          </ul>
        </div>
        <% include ../partials/workshops_side %>
        <div class="panel boxed">
			<h3>Participants</h3>
            <div class="textcenter">
            	<p><a href="http://www.imperial.ac.uk/" target="_blank"><img src="images/logo_imperial_college_london.png" alt="Imperial College London" class="responsive grayscale"></a></p>
            	<p><a href="http://www.uni-passau.de/en/" target="_blank"><img src="images/passau.png" alt="University of Passau" class="responsive grayscale"></a></p>
                <p><a href="http://www.realeyesit.com/" target="_blank"><img src="images/realeyes.png" alt="Reale Eyes" class="responsive grayscale"></a></p>
                <p><a href="http://playgen.com/" target="_blank"><img src="images/Playgen.png" alt="Playgen" class="responsive grayscale"></a></p>
            </div>
        </div>
      	<div class="panel boxed">
			<h3>Sponsors</h3>
            <div class="textcenter">
            <p><img src="images/eu-logo.png" alt="sponsors" class="responsive"><img src="images/horizon_20201.jpg" alt="sponsors" class="responsive"></p>
            <p><small>Funding from the European Commision Horizon 2020 Programme.</small></p>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="secondary grey clearfix">
	<div class="container container-twelve">
    	<div class="row">
          <div class="four columns">
            <div class="boxed textcenter">
              <h3>Why SEWA?</h3>
              <p>Technologies that can robustly and accurately analyse human facial, vocal and verbal
                 behaviour and interactions in the wild, as observed by omnipresent webcams in digital devices,
                 would have profound impact on both basic sciences and the industrial sector...</p>
              <a href="/description#whysewa" class="button">Read more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="four columns">
            <div class="boxed textcenter">
                <h3>How SEWA works?</h3>
                <p>SEWA uses state-of-the-art methodologies, models and algorithms for machine
                    analysis of facial, vocal and verbal behaviour, and then adjust them to realise naturalistic
                    human-centric human-computer interaction (HCI) and computer-mediated face-to-face interaction...</p>
                <a href="/description#howsewaworks" class="button">Read more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="four columns">
            <div class="boxed textcenter">
               <h3>Where is SEWA applied?</h3>
               <p>As a proof of concept, and with the focus on novel HCI and FF-HCI applications, SEWA technology
                   will be applied to machine inference of sentiment/ liking ratings in response to
                   multimedia content (movie trailers, product adverts, etc.) watched by people in the wild...</p>
               <a href="/description#whereissewaapplied" class="button">Read more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <!--<div class="four columns">
            <div class="boxed textcenter">
               <h3>How SEWA works?</h3>
               <p>SEWA uses state-of-the-art methodologies, models and algorithms for machine
                analysis of facial, vocal and verbal behaviour, and then adjust them to realise naturalistic
                human-centric human-computer interaction (HCI) and computer-mediated face-to-face interaction...</p>
               <a href="/description#whereissewaapplied" class="button">Read more <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>-->
        </div>
    </div>
</section>


<% include ../partials/footer %>
