<% include ../partials/head %>
<% include ../partials/header %>

<section>
    <div class="container container-twelve">
        <!--<div class="row">
          <div class="twelve columns">

          </div>
        </div>-->
        <div class="row">
            <div class="eight columns">
                <h2>Participants</h2>

                <div class="panel  publications">
                    <h3>Academic Partners</h3>
                    <ul>
                        <li>
                            <h4><a href="http://www.imperial.ac.uk/">Imperial College London (ICL)</a> - The Project
                                Coordinator</h4>

                            <p>The Intelligent Behaviour Understanding Group (<a
                                        href="http://ibug.doc.ic.ac.uk/">iBUG</a>) led by Prof. Maja Pantic at ICL has
                                the core expertise in the machine analysis of human behaviour in space and time
                                including face analysis, body gesture analysis, visual, audio, and multimodal analysis
                                of human behaviour, and biometrics analysis. Application areas in which the group is
                                working are face analysis, body gesture analysis, audio and visual human behaviour
                                analysis, biometrics and behaviometrics, and Human Computer Interaction (HCI).</p>
                            <!--<a href="http://ibug.doc.ic.ac.uk/">Visit iBUG</a>-->
                        </li>
                        <li>
                            <h4><a href="http://www.uni-passau.de/en/">University of Passau (UP)</a></h4>

                            <p>The research team led by Prof.Dr. habil. Björn W. Schuller at <a
                                        href="http://www.uni-passau.de/en/">UP</a> specializes in designing
                                machine-learning models for affect recognition based on audio signals (i.e., acoustic
                                features).</p>
                            <!--<a href="http://www.uni-passau.de/en/">Visit UP</a>-->
                        </li>
                    </ul>
                    <h3>Industrial Partners</h3>
                    <ul>
                        <li>
                            <h4><a href="http://www.realeyesit.com/">RealEyes</a></h4>

                            <p><a href="http://www.realeyesit.com/">Realeyes</a> specialises in collecting emotion and
                                behavioural data from users exposed to video advertisements.
                                Their main products are already being sold to many of the Fortune 500 brands, market
                                research and media
                                agencies. Many enhancements in collecting and analysing behavioural data that the SEWA
                                project will bring
                                about will be quickly trialled in the core Realeyes product offers, thus helping the
                                company to stay ahead of
                                the growing competition, such as Affectiva and Emotient (both being USA based).</p>
                            <!--<a href="http://www.realeyesit.com/">Visit RealEyes</a>-->
                        </li>
                        <li>
                            <h4><a href="http://playgen.com/">PlayGen</a></h4>

                            <p><a href="http://playgen.com/">PlayGen</a> is UK’s leading gamification studio, designing
                                and developing Serious Games, Social Games, and
                                Simulations for online, offline, and mobile use with applications across industry
                                sectors. PlayGen team
                                specialises in delivering interactivity designed to induce flow and pleasure, where
                                players become fully
                                absorbed in the activity, enjoying the experience of exploration and discovery. Their
                                solutions are already
                                used by many including insurance companies like AVIVA, nanotech companies like FEI,
                                management and
                                technology-based solutions companies like Concurrent Technology Cooperation, safety and
                                security sector
                                institutions including UK Police Departments and Royal Navy, and education sector
                                institutions including
                                600+ schools in Birmingham and the South West, to mention but a few.</p>
                            <!--<a href="http://playgen.com/">Visit PlayGen</a>-->
                        </li>
                    </ul>
                    <h3>Ethical Advisory Board</h3>
                    <ul>
                        <li>
                            <p>Laurence Devillers, University of Paris-Sorbonne IV / CNRS-LIMSI, Paris / Orsay,
                                France</p>

                            <p>Jean-Gabriel Ganascia, University Pierre and Marie Curie, Paris, France</p>
                        </li>
                    </ul>
                    <h3>Valorisation Advisory Board</h3>
                    <ul>
                        <li>
                            <p><a href="/qa#ElissaMoses">Elissa Moses</a> - CEO, Neuro and Behavior Science at IPSOS, Chairman of SEWA Valorisation Board<br><img src="/images/ipsos_logo.png" height="75"> </p>
                            <p>Simon Hughes - Founder and Chief Time Saver at Jobatar<br><img src="/images/jobatar_logo.png" height="75"> </p>
                            <p>Jim Hodgkins - Managing Director, Marketing Services at VisualDNA<br><img src="/images/visualDNA_logo.png" height="75"> </p>
                            <p>Zoe Ilic - B2B Marketing Manager: Continental Europe, Middle East & Africa at Financial Times<br><img src="/images/financial_times_logo.png" height="75"> </p>
                            <p>Nemanja Alavanja - Chief Technical Officer at Anaii d.o.o<br><img src="/images/anaii_logo.png" height="75"> </p>
                            <p>Florian Eyben - Chief Technical Officer at audEERING<br><img src="/images/audeering_logo.png" height="75"> </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="four columns">
                <% include ../partials/workshops_side %>
                <div class="panel boxed">
                    <h3>Participants</h3>

                    <div class="textcenter">
                        <p><a href="http://www.imperial.ac.uk/" target="_blank"><img
                                        src="images/logo_imperial_college_london.png" alt="Imperial College London"
                                        class="responsive grayscale"></a></p>

                        <p><a href="http://www.uni-passau.de/en/" target="_blank"><img src="images/passau.png"
                                                                                       alt="University of Passau"
                                                                                       class="responsive grayscale"></a>
                        </p>

                        <p><a href="http://www.realeyesit.com/" target="_blank"><img src="images/realeyes.png"
                                                                                     alt="Reale Eyes"
                                                                                     class="responsive grayscale"></a>
                        </p>

                        <p><a href="http://playgen.com/" target="_blank"><img src="images/Playgen.png" alt="Playgen"
                                                                              class="responsive grayscale"></a></p>
                    </div>
                </div>
                <div class="panel boxed">
                    <h3>Sponsors</h3>

                    <div class="textcenter">
                        <p><img src="images/eu-logo.png" alt="sponsors" class="responsive"><img
                                    src="images/horizon_20201.jpg" alt="sponsors" class="responsive"></p>

                        <p>
                            <small>Funding from the European Commision Horizon 2020 Programme.</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</section>

<% include ../partials/footer %>