<% include ../partials/head %>
<% include ../partials/header %>

<section>
    <div class="container container-twelve">
        <!--<div class="row">
          <div class="twelve columns">

          </div>
        </div>-->
        <div class="row">
            <div class="eight columns">
                <h2>Press Coverage</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            (Sep' 2016) "The Gofer in the Machine", The Economist 1843 <br>
                            <a href="https://www.1843magazine.com/technology/the-gofer-in-the-machine" target="_blank">https://www.1843magazine.com/technology/the-gofer-in-the-machine</a>
                        </li>
                        <li>
                            (Jun' 2016) "Machines that Talk May Soon Sense Our Feelings, Too.", Scientific American<br>
                            <a href="http://www.scientificamerican.com/article/machines-that-talk-to-us-may-soon-sense-our-feelings-too/" target="_blank">http://www.scientificamerican.com/article/machines-that-talk-to-us-may-soon-sense-our-feelings-too/</a>
                        </li>
                        <li>
                            Wall Street Journal <a href="http://blogs.wsj.com/digits/2015/04/17/emotion-tracking-startup-gets-eu-funding-boost/" target="_blank">http://blogs.wsj.com/digits/2015/04/17/emotion-tracking-startup-gets-eu-funding-boost/</a>
                        </li>
                        <li>
                            Marketing <a href="http://www.marketingmagazine.co.uk/article/1343366/european-commission-issues-%E2%82%AC36m-grant-tech-measures-content-likeability" target="_blank">http://www.marketingmagazine.co.uk/article/1343366/european-commission-issues-&euro;36m-grant-tech-measures-content-likeability</a>
                        </li>
                        <li>
                            Campaign <a href="http://www.campaignlive.co.uk/youtube/article/1343366/european-commission-issues-36m-grant-tech-measures-content-likeability/" target="_blank">http://www.campaignlive.co.uk/youtube/article/1343366/european-commission-issues-36m-grant-tech-measures-content-likeability/</a>
                        </li>
                        <li>
                            Media Week <a href="http://www.mediaweek.co.uk/article/1343366/european-commission-issues-%E2%82%AC36m-grant-tech-measures-content-likeability" target="_blank">http://www.mediaweek.co.uk/article/1343366/european-commission-issues-&euro;36m-grant-tech-measures-content-likeability</a>
                        </li>
                        <li>
                            Brand Republic <a href="http://www.brandrepublic.com/article/1343366/european-commission-issues-%E2%82%AC36m-grant-tech-measures-content-likeability" target="_blank">http://www.brandrepublic.com/article/1343366/european-commission-issues-&euro;36m-grant-tech-measures-content-likeability</a>
                        </li>
                        <li>
                            The Drum <a href="http://www.thedrum.com/news/2015/04/17/company-tracks-human-emotions-webcams-awarded-26m-grant-eu-commission" target="_blank">http://www.thedrum.com/news/2015/04/17/company-tracks-human-emotions-webcams-awarded-26m-grant-eu-commission</a>
                        </li>
                        <li>
                            Research Live <a href="http://www.research-live.com/news/realeyes-eu-grant-for-measuring-ad-likeability/4013199.article" target="_blank">http://www.research-live.com/news/realeyes-eu-grant-for-measuring-ad-likeability/4013199.article</a>
                        </li>
                        <li>
                            DotRising <a href="http://www.dotrising.com/2015/04/20/european-commission-awards-2-6m-grant-to-find-tech-to-measure-content-likeability/" target="_blank">http://www.dotrising.com/2015/04/20/european-commission-awards-2-6m-grant-to-find-tech-to-measure-content-likeability/</a>
                        </li>
                        <li>
                            Tech Investor News <a href="http://www.techinvestornews.com/Enterprise/Latest-Enterprise-News/realeyes-receives-grant-to-develop-likeability-tracking-webcam" target="_blank">http://www.techinvestornews.com/Enterprise/Latest-Enterprise-News/realeyes-receives-grant-to-develop-likeability-tracking-webcam</a>
                        </li>
                        <li>
                            Computer Business Review <a href="http://www.cbronline.com/news/big-data/hardware/realeyes-receives-grant-to-develop-likeability-tracking-webcam--4557214" target="_blank">http://www.cbronline.com/news/big-data/hardware/realeyes-receives-grant-to-develop-likeability-tracking-webcam--4557214</a>
                        </li>
                        <li>
                            (Oct' 2015) "Emotionally literate tech to help treat autism", Horizon – the EU Research & Innovation Magazine<br>
                            <a href="http://horizon-magazine.eu/article/emotionally-literate-tech-help-treat-autism_en.html" target="_blank">http://horizon-magazine.eu/article/emotionally-literate-tech-help-treat-autism_en.html</a>
                        </li>
                        <li>
                            (Sep' 2015) "Can a computer tell what you’re thinking?", blog series with Young Scientists ahead of the Annual Meeting of the New Champions 2015, World Economic Forum<br>
                            <a href="https://www.weforum.org/agenda/2015/09/can-a-computer-tell-what-youre-thinking/" target="_blank">https://www.weforum.org/agenda/2015/09/can-a-computer-tell-what-youre-thinking/</a>
                        </li>
                        <li>
                            (Sep' 2015) Computer lernt menschliches Verhalten <a href="http://www.pnp.de/nachrichten/heute_in_ihrer_tageszeitung/bayern/1801562_Computer-lernt-menschliches-Verhalten.html" target="_blank">http://www.pnp.de/nachrichten/heute_in_ihrer_tageszeitung/bayern/1801562_Computer-lernt-menschliches-Verhalten.html</a>
                        </li>
                        <li>
                            (Jun' 2015) SEWA project to develop methods for automatic behavioural analysis <a href="http://www.uni-passau.de/en/bereiche/press/press-releases/news/detail/sewa-project-to-develop-methods-for-automatic-behavioural-analysis/" target="_blank">http://www.uni-passau.de/en/bereiche/press/press-releases/news/detail/sewa-project-to-develop-methods-for-automatic-behavioural-analysis/</a>
                        </li>
                        <li>
                            (Jun' 2015) Projekt SEWA entwickelt Methoden zur automatischen Verhaltensanalyse <a href="http://www.uni-passau.de/bereiche/presse/pressemeldungen/meldung/detail/projekt-sewa-entwickelt-methoden-zur-automatischen-verhaltensanalyse/" target="_blank">http://www.uni-passau.de/bereiche/presse/pressemeldungen/meldung/detail/projekt-sewa-entwickelt-methoden-zur-automatischen-verhaltensanalyse/</a>
                        </li>
                        <li>
                            (Feb' 2015) Bj&#246;rn Schuller: "Grosse Gef&#252;hle - Robotik und Emotionen", <br>
                            radio interview broadcast on radiobremen/Nordwestradio , <br>
                            "Glauben und Wissen", Tina W&#252;rfel.
                        </li>
                    </ul>
                </div>
                <h2>Television & Radio interviews</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            (Feb' 2016) SEWA coordinator interview for France 24<br>
                            Interview with Prof. Maja Panic for television France 24<br>
                            <a target="_blank" href="http://www.france24.com/en/20160128-people-profit-davos-wef-global-economy-digital-revolution-robots-france-reform">http://www.france24.com/en/20160128-people-profit-davos-wef-global-economy-digital-revolution-robots-france-reform</a>
                        </li>
                        <li>
                            (Jan' 2016) SEWA coordinator interview for RTS at World Economic Forum in Davos<br>
                            Interview with Prof. Maja Pantic for Serbian National Television. <br>
                            <a target="_blank" href="http://ibug.doc.ic.ac.uk/media/uploads/video/svetska_ekonomija_u_slobodnom_padu_-_maja.avi">http://ibug.doc.ic.ac.uk/media/uploads/video/svetska_ekonomija_u_slobodnom_padu_-_maja.avi</a>
                        </li>
                    </ul>
                </div>
                <h2>Public Presentations & Events</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            (Sep' 2016) SEWA Coordinator speaking at the European Commission's Digital Assembly 2016<br>
                            Prof. Maja Panic giving a TEDx Talk at the European Commission's Digital Assembly 2016<br>
                            <a target="_blank" href="https://www.youtube.com/v/Nmex2dzGKcI&start=8520&end=9880">https://www.youtube.com/v/Nmex2dzGKcI&start=8520&end=9880</a>
                        </li>
                        <li>
                            (Sep' 2016) SEWA Partner wins 2016 Innovation Radar Prize<br>
                            Realeyes wins 2016 Innovation Radar Prize, in the Horizon 2020 ICT Innovator category<br>
                            <a target="_blank" href="/files/REALEYES.pdf">download</a>
                        </li>
                        <li>
                            (Jul' 2016) SEWA Coordinator speaking in The Royal Society<br>
                            Prof. Maja Panic speaking in The Royal Society on Driverless Cars<br>
                            <a target="_blank" href="https://royalsociety.org/science-events-and-lectures/2016/07/driverless-cars-ask-the-expert/">https://royalsociety.org/science-events-and-lectures/2016/07/driverless-cars-ask-the-expert/</a>
                        </li>
                        <li>
                            (Jul' 2016) SEWA coordinator speaking in The Royal Society<br>
                            Prof. Maja Panic speaking in The Royal Society on Artificial Emotional Intelligence <br>
                            <a target="_blank" href="https://royalsociety.org/science-events-and-lectures/2016/07/twilight-science/">https://royalsociety.org/science-events-and-lectures/2016/07/twilight-science/</a>
                        </li>
                        <li>
                            (Apr' 2016) SEWA coordinator speaking in The Royal Society<br>
                            Prof. Maja Panic speaking in The Royal Society on How Computers Got Smart <br>
                            <a target="_blank" href="https://royalsociety.org/events/2016/04/machine-learning/">https://royalsociety.org/events/2016/04/machine-learning/</a>
                        </li>
                        <li>
                            (Jan' 2016) SEWA coordinator speaking at Nature Magazine's Ideas Lab<br>
                            Prof. Maja Panic spoke at Nature Magazine's Ideas Lab at World Economic Forum in Davos <br>
                            <a target="_blank" href="https://www.youtube.com/watch?v=ZHxsRpd0XjI&index=1&list=PL7m903CwFUgkv0-OOrqJaZNgO4_AhWJWG">https://www.youtube.com/watch?v=ZHxsRpd0XjI&index=1&list=PL7m903CwFUgkv0-OOrqJaZNgO4_AhWJWG</a>
                        </li>
                        <li>
                            (Jan' 2016) SEWA coordinator speaking at World Economic Forum debate in Davos<br>
                            Prof. Maja Pantic spoke at World Economic Forum debate in Davos on Emotional AI. <br>
                            <a target="_blank" href="https://webcasts.weforum.org/widget/1/davos2016?p=1&pi=1&hl=english&id=76123">https://webcasts.weforum.org/widget/1/davos2016?p=1&pi=1&hl=english&id=76123</a>
                        </li>
                        <li>
                            (Dec' 2015) SEWA technology presentation at the Science Fair in Belgrade Serbia <br>
                            SEWA technology presentation at the Science Fair in
                            Belgrade Serbia (a public event attended by 20,000+ children from
                            elementary and high schools): <br>
                            <a target="_blank" href="http://festivalnauke.org/Program/Beogradski-sajam/Humaniji-nego-sto-mislite">http://festivalnauke.org/Program/Beogradski-sajam/Humaniji-nego-sto-mislite</a>
                        </li>
                        <li>
                            (Sep' 2015) Prof. Bj&#246;rn Schuller speaking at World Economic Forum in Dalian<br>
                            Prof. Bj&#246;rn Schuller spoke at World Economic Forum on How to Build an Intelligent Machine. <br>
                            <a target="_blank" href="https://www.youtube.com/watch?v=1NDAW8d1vx0">https://www.youtube.com/watch?v=1NDAW8d1vx0</a>
                        </li>
                        <li>
                            (Mar' 2015) SEWA coordinator speaking at Royal Academy <br>
                            Prof. Maja Pantic spoke of SEWA and iBUG research at Royal Academy Event. <br>
                            <a target="_blank" href="https://www.royalacademy.org.uk/event/ra-schools-spring-symposium">https://www.royalacademy.org.uk/event/ra-schools-spring-symposium</a>
                        </li>
                    </ul>
                </div>
                <h2>Scientific Talks</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            (Nov' 2016) SEWA UP PI Björn Schuller giving an invited talk at "Orange Hour"<br>
                            <a  target="_blank" href="www.gfk-verein.org/veranstaltungen/orange-hour">www.gfk-verein.org/veranstaltungen/orange-hour</a>
                        </li>
                        <li>
                            (Oct' 2016) SEWA UP PI Björn Schuller speaking at ChaLearn Looking at People ECCV Workshop on "Hearing the People: Deep Paralinguistics"<br>
                            <a  target="_blank" href="http://gesture.chalearn.org/2016-looking-at-people-eccv-workshop-challenge/workshop">http://gesture.chalearn.org/2016-looking-at-people-eccv-workshop-challenge/workshop</a>
                        </li>
                        <li>
                            (Sep' 2016) SEWA UP PI Björn Schuller speaking at Open Day at Imperial College London on "Deep Audition: When Machines Learn to Listen"<br>
                            <a  target="_blank" href="https://www.imperial.ac.uk/study/ug/visit/open-days/">https://www.imperial.ac.uk/study/ug/visit/open-days/</a>
                        </li>
                        <li>
                            (Jul' 2016) SEWA UP PI Björn Schuller giving an invited talk at Google, New York, "How to Make Machines Listen More like We Would"<br>
                            <a  target="_blank" href="https://www.google.com/about/locations/new-york/">https://www.google.com/about/locations/new-york/</a>
                        </li>
                        <li>
                            (May 2016) SEWA UP PI Björn Schuller speaking at webinale – the holistic web conference: "Deep Learning – Tiefe Einblicke in die KI von Morgen"<br>
                            <a  target="_blank" href="https://webinale.de/special-days/emerging-technology-day/">https://webinale.de/special-days/emerging-technology-day/</a>
                        </li>
                        <li>
                            (Apr' 2016) SEWA UP PI Björn Schuller giving an invited talk at "Orange Hour"<br>
                            <a  target="_blank" href="www.gfk-verein.org/veranstaltungen/orange-hour">www.gfk-verein.org/veranstaltungen/orange-hour</a>
                        </li>
                        <li>
                            (Mar' 2016) SEWA UP PI Björn Schuller giving an invited talk on "Machine Listening for Medical Applications" at iDN quarterly, Medical University of Graz<br>
                            <a  target="_blank" href="https://www.medunigraz.at/veranstaltungen/detail/cal/2016/03/29/event/tx_cal_phpicalendar/idn_quarterly-1/">https://www.medunigraz.at/veranstaltungen/detail/cal/2016/03/29/event/tx_cal_phpicalendar/idn_quarterly-1/</a>
                        </li>
                        <li>
                            (Mar' 2016) SEWA UP PI Björn Schuller giving an invited talk on "Deep Machine Listening" at Shanghai University<br>
                            <a  target="_blank" href="http://www.scie-en.shu.edu.cn/">http://www.scie-en.shu.edu.cn/</a>
                        </li>
                        <li>
                            (Mar' 2016) SEWA UP PI Björn Schuller giving an invited talk on "Affective & Behavioural Computing: Into the Deep" at National Tsing Hua University, Taiwan<br>
                            <a  target="_blank" href="http://web.cs.nthu.edu.tw/files/14-1015-100436,r67-1.php">http://web.cs.nthu.edu.tw/files/14-1015-100436,r67-1.php</a>
                        </li>
                        <li>
                            (Mar' 2016) SEWA UP PI Björn Schuller giving an invited talk on "Music: The shorthand of Emotion – Readable to Computers?" at Academica Sinica, Taiwan<br>
                            <a  target="_blank" href="http://www.citi.sinica.edu.tw/HTML/seminars/IZ160006_en.html">http://www.citi.sinica.edu.tw/HTML/seminars/IZ160006_en.html</a>
                        </li>
                        <li>
                            (Nov' 2015) SEWA UP PI Björn Schuller giving an invited talk on "Big Data – Deep Learning: Efficiency is Key" at "Data Science and Engineering", TUM, Munich<br>
                            <a  target="_blank" href="https://www.tum.de/">https://www.tum.de/</a>
                        </li>
                        <li>
                            (Nov' 2015) SEWA coordinator speaking at ACPR 2015 as a Keynote speaker.<br>
                            <a  target="_blank" href="http://acpr2015.org">http://acpr2015.org</a>
                        </li>
                        <li>
                            (Nov' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at LIRIS Workshop Affective Computing: a Multidisciplinary Challenge<br>
                            <a  target="_blank" href="http://liris-accede.ec-lyon.fr/workshop.php">http://liris-accede.ec-lyon.fr/workshop.php</a>
                        </li>
                        <li>
                            (Oct' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at Cognitive Computing Workshop 2015 as a Keynote speaker.<br>
                            <a  target="_blank" href="http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/engineering/computing/eventssummary/event_16-9-2015-12-8-6">http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/engineering/computing/eventssummary/event_16-9-2015-12-8-6</a>
                        </li>
                        <li>
                            (Oct' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at "Orange Hour" as a Keynote speaker.<br>
                            <a  target="_blank" href="http://www.gfk-verein.org/veranstaltungen/orange-hour/orange-hour-hamburg">http://www.gfk-verein.org/veranstaltungen/orange-hour/orange-hour-hamburg</a>
                        </li>
                        <li>
                            (Sep' 2015) SEWA coordinator speaking at ACII 2015 as a Keynote speaker.<br>
                            <a  target="_blank" href="http://www.acii2015.org">http://www.acii2015.org</a>
                        </li>
                        <li>
                            (Sep' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at 18th International Conference on Text, Speech and Dialogue (TSD 2015) as a Keynote speaker. <br>
                            <a target="_blank" href="http://www.kiv.zcu.cz/tsd2015/index.php?page=speakers">http://www.kiv.zcu.cz/tsd2015/index.php?page=speakers</a>
                        </li>
                        <li>
                            (Sep' 2015) SEWA coordinator speaking at ECMR 2015 as a Keynote speaker.<br>
                            <a  target="_blank" href="https://lcas.lincoln.ac.uk/ecmr15/?q=node/1">https://lcas.lincoln.ac.uk/ecmr15/?q=node/1</a>
                        </li>
                        <li>
                            (Sep' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at Annual Meeting of the New Champions 2015 (AMNC, "Summer Davos"), BetaZone Session, World Economic Forum (WEF) as
                            a Keynote speaker.<br>
                            <a  target="_blank" href="https://agenda.weforum.org/news/world-economic-forum-honours-its-2015-young-scientists-community-at-annual-meeting-of-the-new-champions/">https://agenda.weforum.org/news/world-economic-forum-honours-its-2015-young-scientists-community-at-annual-meeting-of-the-new-champions/</a>
                        </li>
                        <li>
                            (Sep' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at International Symposium on Companion-Technology (ISCT 2015, Expert Workshop of the SFB-TR 62) as a Keynote speaker.<br>
                            <a  target="_blank" href="https://isct2015.informatik.uni-ulm.de/wp-content/uploads/2015/09/ISCT2015Program.pdf">https://isct2015.informatik.uni-ulm.de/wp-content/uploads/2015/09/ISCT2015Program.pdf</a>
                        </li>
                        <li>
                            (Avg' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at SMART School on Computational Social and Behavioral Sciences as a Keynote speaker.<br>
                            <a  target="_blank" href="http://www.smart-labex.fr/SMART_School_on_Computational_Social_and_Behavioral_Sciences.html">http://www.smart-labex.fr/SMART_School_on_Computational_Social_and_Behavioral_Sciences.html</a>
                        </li>
                        <li>
                            (Jul' 2015) SEWA coordinator speaking at ICME 2015 as a Keynote speaker.<br>
                            <a  target="_blank" href="http://www.icme2015.ieee-icme.org">http://www.icme2015.ieee-icme.org</a>
                        </li>
                        <li>
                            (Jun' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at 4th Machine Learning for Interactive Systems Workshop (MLIS 2015) held at the International Conference on Machine Learning (ICML'15).<br>
                            <a target="_blank" href="http://scuba.usc.edu/?q=workshops">http://scuba.usc.edu/?q=workshops</a>
                        </li>
                        <li>
                            (Jun' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at UK SPEECH 2015 - 4th Meeting of the UK and Irish Speech Science and Technology Research Community as a Keynote speaker. <br>
                            <a target="_blank" href="http://www.ukspeech.org.uk/workshop/UKSpeech2015-programme.pdf">http://www.ukspeech.org.uk/workshop/UKSpeech2015-programme.pdf</a>
                        </li>
                        <li>
                            (Jun' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at invited inaugural lecture, University of Passau. <br>
                            <a target="_blank" href="http://www.fim.uni-passau.de/fileadmin/files/dekanat/Veranstaltungshinweise/Antrittsvorlesung_Schuller_Wirth_Handschuh.pdf">http://www.fim.uni-passau.de/fileadmin/files/dekanat/Veranstaltungshinweise/Antrittsvorlesung_Schuller_Wirth_Handschuh.pdf
                            </a>
                        </li>
                        <li>
                            (May' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at invited tele-talk, Applied Signal Processing in Mental Health Workshop, University of Southern California as a Keynote speaker.
                            <a  target="_blank" href="http://scuba.usc.edu/?q=workshops">http://scuba.usc.edu/?q=workshops</a>
                        </li>
                        <li>
                            (Apr' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at "Orange Hour" as a Keynote speaker.
                            <a  target="_blank" href="http://www.gfk-verein.org/en/events/orange-hour">http://www.gfk-verein.org/en/events/orange-hour</a>
                        </li>
                        <li>
                            (Apr' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at 2015 International Symposium on Computational Psychophysiology
                            as a Keynote speaker.
                            <a  target="_blank" href="http://www.taf.sdnu.edu.cn/enligsh.htm">http://www.taf.sdnu.edu.cn/enligsh.htm</a>
                        </li>
                        <li>
                            (Mar' 2015) SEWA UP PI, Bj&#246;rn Schuller speaking at NII Shonan Meeting: The Future of Human-Robot Spoken Dialogue: from Information Services to Virtual Assistants, Seminar 059
                            as a Keynote speaker.
                            <a  target="_blank" href="http://shonan.nii.ac.jp/shonan/blog/2013/12/10/the-future-of-human-robot-spoken-dialogue-from-information-services-to-virtual-assistants/
">http://shonan.nii.ac.jp/shonan/blog/2013/12/10/the-future-of-human-robot-spoken-dialogue-from-information-services-to-virtual-assistants/
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="four columns">
                <% include ../partials/workshops_side %>
                <div class="panel boxed">
                    <h3>Participants</h3>
                    <div class="textcenter">
                        <p><a href="http://www.imperial.ac.uk/" target="_blank"><img src="images/logo_imperial_college_london.png" alt="Imperial College London" class="responsive grayscale"></a></p>
                        <p><a href="http://www.uni-passau.de/en/" target="_blank"><img src="images/passau.png" alt="University of Passau" class="responsive grayscale"></a></p>
                        <p><a href="http://www.realeyesit.com/" target="_blank"><img src="images/realeyes.png" alt="Reale Eyes" class="responsive grayscale"></a></p>
                        <p><a href="http://playgen.com/" target="_blank"><img src="images/Playgen.png" alt="Playgen" class="responsive grayscale"></a></p>
                    </div>
                </div>
                <div class="panel boxed">
                    <h3>Sponsors</h3>
                    <div class="textcenter">
                        <p><img src="images/eu-logo.png" alt="sponsors" class="responsive"><img src="images/horizon_20201.jpg" alt="sponsors" class="responsive"></p>
                        <p><small>Funding from the European Commision Horizon 2020 Programme.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</section>

<% include ../partials/footer %>
