<% include ../partials/head %>
<% include ../partials/header %>

<section>
    <div class="container container-twelve">
        <div class="row">
            <div class="eight columns">
                <h2>See what industrial advisors think about SEWA</h2>
                <h4 id="ElissaMoses">Interview Questions for The Drum on Facial Coding
                    Elissa Moses, Ipsos EVP, Neuro & Behavioural Science Centre
                    5.26.15
                </h4>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            <span class="question">Q: Regarding the SEWA project, what impact do you see this research having on advertisers' ability to assess complex emotional responses?</span>
                            <br>
                            <span class="answer">A: The SEWA project heralds the future for us becoming more sophisticated in understanding the non-spoken language of the whole body and interpreting complex emotional response. Capturing the six universal emotions as is now mastered by automated facial coding is only the foundation. It is like identifying individual musical notes. But with the work SEWA is doing, we will be able to identify chords of human response such as "liking", boredom, etc. We will ultimately become masters of reading each other&rsquo;s feelings and intent. This will be wonderful for interpreting reactions to marketing materials but also for improving our relationships.</span>
                        </li>
                        <li>
                            <span class="question">Q: What sort of emotional patterns equal successful content/campaigns?</span>
                            <br>
                            <span class="answer">A: This is open to interpretation because great advertising is not a formula. That is why we call it "creative".  However we do see common patterns in ads that do well both in front of juries such as at Cannes as well as, more importantly, high performers in the market place. While there may be exceptions, successful ads tend to have high engagement overall, hook people early in the first 1-2 seconds, take them for an emotional ride (we call this the emotional roller coaster and it makes people feel a range of emotions), have a high emotional peak, elicit positive emotion around the brand and product displays and generally leaves people in a positive frame of mind. My mantra is the more emotion the better. Many people don&rsquo;t understand that negative emotion is also useful to engagement and storytelling, as long as the negativity is not related to the brand.</span>
                        </li>
                        <li>
                            <span class="question">Q: Brands and agencies have increasingly embraced Neuromarketing in a bid to more accurately gauge the impact of their content. Are they approaching it in the right way? Where do you see mistakes being made? </span>
                            <br>
                            <span class="answer">A: There is a general lack of expertise in the industry for integrating the various types of measurements to provide a holistic analysis. At Ipsos we look at the System 1 (Neuro/Emotional) metrics along with the System 2 measures (Cognitive/Survey) as layers of insight addressing similar issues such as engagement, brand response, etc. and we weave the findings to tell a meaningful story about how the ad works. <br> I also see a lot of mistakes on sample sizes (too small), leaps of faith on interpretation and a lack of understanding of the need for measures covering cognitive response - (what do people think?) with the non-conscious reactions for emotional response, engagement patterns and brand impact. Only this way can we be comprehensive in our understanding of how an ad works. </span>
                        </li>
                        <li>
                            <span class="question">Q: How could more brands/agencies benefit from embracing Neuromarketing?</span>
                            <br>
                            <span class="answer">A: Since we know that the unconscious plays a huge role in decision making, it is simply foolish not to take emotional response into account when evaluating all marketing materials. Now that we have reliable nonconscious tools available to us such as Facial Coding, Implicit Reaction Time, Eye Tracking and EEG, etc. there is no reason not to address this critical area of response. In the future, we will not talk about whether to include neuro in studies because almost every study will have a neuro component and the design challenge will be what combination of measures should be combined for the greatest insight with the best ease and most attractive price and timing. But in the end, any study with a nonconscious measurement component is almost always more insightful.</span>
                        </li>
                        <li>
                            <span class="question">Q: Will facial coding technology eventually replace traditional market research methods?</span>
                            <br>
                            <span class="answer">A: It already has. Facial coding has primarily replaced the dial technology for self-reported emotion because it is far superior to measuring nonconscious emotional response in real time and providing far more granular information. Facial Coding is way ahead in measuring emotion over cognitive self-reporting of emotion. However, in tandem with rational questions, the combination can provide much fuller understanding.</span>
                        </li>
                        <li>
                            <span class="question">Q: How do you see facial coding technologies developing in the future?</span>
                            <br>
                            <span class="answer">A: I see broader applications coming, a wider range of metrics and above all new insights through meta- analyses regarding what drives effective marketing and communications. Already we are seeing the payoff of having a huge global data set with Realeyes to test hypotheses and identify patterns for high performing ads and media. There are some new developments that are very exciting, so stay tuned.</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="four columns">
                <% include ../partials/workshops_side %>
                <div class="panel boxed">
                    <h3>Participants</h3>
                    <div class="textcenter">
                        <p><a href="http://www.imperial.ac.uk/" target="_blank"><img src="images/logo_imperial_college_london.png" alt="Imperial College London" class="responsive grayscale"></a></p>
                        <p><a href="http://www.uni-passau.de/en/" target="_blank"><img src="images/passau.png" alt="University of Passau" class="responsive grayscale"></a></p>
                        <p><a href="http://www.realeyesit.com/" target="_blank"><img src="images/realeyes.png" alt="Reale Eyes" class="responsive grayscale"></a></p>
                        <p><a href="http://playgen.com/" target="_blank"><img src="images/Playgen.png" alt="Playgen" class="responsive grayscale"></a></p>
                    </div>
                </div>
                <div class="panel boxed">
                    <h3>Sponsors</h3>
                    <div class="textcenter">
                        <p><img src="images/eu-logo.png" alt="sponsors" class="responsive"><img src="images/horizon_20201.jpg" alt="sponsors" class="responsive"></p>
                        <p><small>Funding from the European Commision Horizon 2020 Programme.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</section>

<% include ../partials/footer %>
