<% include ../partials/head %>
<% include ../partials/header %>

<section>
    <div class="container container-twelve">
        <!--<div class="row">
          <div class="twelve columns">

          </div>
        </div>-->
        <div class="row">
            <div class="twelve columns">
                <h2>Valorization board meeting notes</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            SEWA Valorization Board meeting notes <br>
                            The Gore Hotel, South Kensington, London<br>
                            Thursday 1st October 2015 <br><br>
                            <a class="button" href="/files/valorization_board_files/VB_SEWA_Report.pdf" target="_blank">DOWNLOAD</a>
                        </li>
                    </ul>
                </div>
                <h2>Valorization board documents</h2>
                <div class="panel cms-content">
                    <ul>
                        <li>
                            Signed letters of valorization board members <br><br>
                            <a  class="button" href="/files/valorization_signed_letters/VB_SEWA_letters.pdf" target="_blank">DOWNLOAD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- container -->
</section>

<% include ../partials/footer %>